@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9F9F9;
    font-family: "Roboto", sans-serif;
}

nav {
    padding: 12px 24px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.menu {
    width: 146px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 8px;
}


.menu hr {
    width: 18px;
    margin: 5px;
    border: 1px solid #202020;
}

.menu hr .youtube-logo {
    width: 90px;
    height: 20px;
    position: relative;
    top: 10px;
}

.boxes {
    display: flex;
}

.search-box,
.search-box-2 {
    background-color: #FFFFFF;
    width: 348px;
    height: 40px;
    border: 1px solid #CCCCCC;
}

.search-box-2 {
    width: 57px;
    display: flex;
}

.search-box-2 img {
    width: 24px;
    height: 24px;
    position: relative;
    top: 8px;
    left: 15px;
}

.icons {
    width: 130px;
    height: 34px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.icon-video,
.icon-bell {
    width: 24px;
    height: 24px;
}

.icon-photo {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

main {
    display: flex;
    justify-content: space-around;
    width: 90vw;
    gap: 8px;
}

#video-section {
    position: relative;
    top: 84px;
    width: auto;
    /* left: 75px; */
}

.video-image {
    width: 100%;
    height: auto;
}

.video-actions {
    /* width: 902px; */
    gap: 42px;
    display: flex;
    font-weight: 600;
    font-size: .8rem;
    line-height: 100%;
    justify-content: space-between;
    align-items: center;
}

.video-image-title,
.description {
    width: 100%;
    font-weight: 400;
    font-size: .8rem;
    line-height: 100%;
    letter-spacing: 0%;
}

.channel-info {
    display: flex;
    height: 42px;
    gap: 12px;
    align-items: center;
}

.channel-info span {
    font-weight: 400;
    color: #515151;
}

.channel-info p {
    font-weight: 600;
    display: flex;
}

.channel-info-box {
    display: block;
}

.video-image-title h1 {
    font-size: 1rem;
}

.buttons-section {
    display: flex;
    gap: 20px;
}

.subscribe-button {
    width: 159px;
    height: 40px;

    border-radius: 2px;
    background-color: red;
    color: white;
    border: none;
}

.like,
.dislike,
.share,
.download {
    display: flex;
    height: 24px;
    gap: 10px;
    align-items: center;
}

.video-info {
    margin: 15px 0;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 100%;
}

.description {
    width: 510px;
    height: 64px;
    color: #515151;
    text-align: justify;
}

/* Aside */
#sidebar {
    width: 160px;
    position: relative;
    top: 84px;
    display: inline;
    gap: 16px;
    margin-bottom: 25px;
}

.sidebar-image {
    display: flex;
    width: 196px;
    margin-bottom: 20px;
    position: relative;
    right: 75px;
}

.sidebar-videos {
    width: 196px;
    height: 89px;
    left: 176px;
}

.sidebar-video-title {
    margin-bottom: 5px;
    margin-left: 5px;
    width: 196px;
    font-weight: 600;
    font-size: .8rem;
    line-height: 100%;
    color: #000000;
}


.sidebar-channel,
.sidebar-video-info {
    margin-bottom: 5px;
    margin-left: 5px;
    height: auto;
    width: 156px;
    font-weight: 400;
    font-size: .7rem;
    line-height: 100%;
    color: #515151;
}



/* Responsividade */
@media (min-width: 300px) and (max-width: 1000px) {

    nav {
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: space-between;
    }

    main {
        display: block;
        position: relative;
        height: auto;
        padding: 0 35px;
    }

    /* #video-section {
        max-width: auto;
    } */

    .search-box {
        display: none;
    }

    .search-box-2 {
        border: none;
    }

    .buttons-section {
        margin-bottom: 25px;
        display: contents;
    }

    .buttons-section p {
        display: none;
    }

    .video-image-title,
    .description {
        width: auto;
        margin-bottom: 20px;
    }

    /* .video-image {
        max-width: auto;
    } */

    .video-image-title h1 {
        max-width: auto;
    }

    .video-actions {
        flex-wrap: wrap;
        gap: 20px;
    }

    #sidebar {
        position: relative;
        left: 75px;
        width: 100px;
    }
}

/* small devices */
@media (max-width: 901px) {

    /* #video-section {
        max-width: 500px;
    } */

    .video-image-title,
    .description {
        width: auto;
        margin-bottom: 20px;
    }

    /* .video-image {
        max-width: auto;
    } */

    .video-image-title h1 {
        max-width: auto;
    }

    .video-actions {
        flex-wrap: wrap;
        gap: 20px;
    }

    #sidebar {
        position: relative;
        /* left: 75px; */
        bottom: 205px;
        /* width: 120px; */
    }

    .sidebar-videos,
    .sidebar-video-title {
        width: auto;
    }
}